<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="c:/log/kimegitsem.log" />
		<param name="MaxFileSize" value="9000KB" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss.SSS} [%t] %-5p (%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate.type">
		<level value="ERROR" />
	</logger>

	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="ERROR" />
	</logger>


	<logger name="org.apache.struts2">
		<level value="ERROR" />
		<appender-ref ref="file" />
	</logger>
	<logger name="com.persona">
		<level value="debug" />
		<appender-ref ref="file" />
		<appender-ref ref="console"/>
	</logger>

	<!-- for all other loggers log only warn and above log messages -->
	<root>
		<priority value="WARN" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration> 
