body {
	background-color: #f2f0f1;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.upper {
	width: inherit;
	position: relative;
	height: 110px;
}

.menu {
	width: inherit;
	height: 32px;
	padding-top: 1px;
	background: #808080;
}

.menuInner {
	width: inherit;
	height: 30px;
	background: #fe6801;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

.tabPanel {
	height: 300px;
	overflow: scroll;
}

.messageList {
	height: 250px;
	overflow-y: scroll;
}

.slogan {
	width: 426px;
	left: 0px;
	height: 27px;
	color: #fe6801;
	top: 4px;
	position: absolute;
	background-image: url(../img/kgs.jpg);
	background-repeat: no-repeat;
}

.logo {
	background-image: url(../img/logo.jpg);
	left: 0px;
	top: 17px;
	position: absolute;
	width: 299px;
	height: 82px;
}

.searchArea {
	left: 342px;
	top: 36px;
	position: absolute;
	width: 682px;
	height: 62px;
	padding-left: 60px;
	padding-top: 21px;
}

input.searchInput {
	background-color: #ffffff;
	border: solid;
	border-color: #c2c0c0;
	border-width: 1px;
	color: #c2c0c0;
	height: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

.button {
	background-color: #fe6801;
	border: solid;
	border-color: #c2c0c0;
	border-width: 1px;
	color: #ffffff;
	height: 25px;
	font-style: italic;
}

input[type=text].searchInput {
	width: 150px;
}

.login {
	position: absolute;
	padding-top: 16px;
	left: 850px;
	top: 0px;
}

.cityDistrict {
	position: absolute;
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: underline;
	font-size: 16px;
	left: 380px;
	top: 55px;
}

a.menuInner {
	font-style: italic;
	text-decoration: none;
}

a.menuInner:hover {
	font-style: italic;
	text-decoration: underline;
}

.grayHeading {
	background: #808080;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-style: italic;
	width: 100%;
	border-width: 2px;
	border-style: groove;
	border-color: #808080;
	padding-left: 5px;
	padding-top: 5px;
	position:relative;
}

.blueHeading {
	background: #33A6E9;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-style: italic;
	width: 100%;
	border-width: 5px;
	border-style: groove;
	border-color: transparent;
	border-radius: 8px;
	padding-left: 5px;
	padding-top: 5px;
	position:relative;
}

.redHeading {
	background: #fe6801;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-style: italic;
	width: 100%;
	border-width: 5px;
	border-style: groove;
	border-color: transparent;
	border-radius: 4px;
	padding-left: 5px;
	padding-top: 5px;
}

.redHeading2 {
	background: #fe6801;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-style: italic;
	width: 100%;
	border-width: 5px;
	border-style: groove;
	border-color: transparent;
	border-radius: 8px;
	padding-left: 5px;
	padding-top: 5px;
	position:relative;
}

.categoryList {
	width: 200px;
	position: absolute;
	padding-top: 10px;
}

.categoryListInner {
	width: 100%;
	position: relative;
	background-color: #f2f0f1;
	border-width: 2px;
	border-style: solid;
	border-color: #808080;
	padding-left: 5px;
	padding-top: 5px;
}

.banner {
	width: 356px;
	height: auto;
	text-align: center;
	position: relative;
}

.bodyDiv {
	position: absolute;
}

.nearLocations {
	position: absolute;
}

a.category {
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

a.profile:hover {
	text-decoration: underline;
}

.contentDiv {
	left: 230px;
	width: 580px;
	position: absolute;
}

a.profile {
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #fe6801;
	font-size: 14px;
	font-weight: bold;
}

a.category:hover {
	text-decoration: underline;
}

.userinfo {
	width: 224px;
	height: auto;
	left: 810px;
	position: absolute;
}

.head1 {
	color: #fe6801;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

a.link1 {
	color: #808080;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

a.link1:hover {
	text-decoration: underline;
}

.popupDiv {
	position: absolute;
	z-index: 1000;
	background-color: #f2f0f1;
	border: solid 1px;
	border-color: transparent;
	visibility: hidden;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
}

.popupHeader {
	background: #808080;
	font-family: Verdana, Geneva, sans-serif;
	left:1px;
	font-size: 20px;
	color: #ffffff;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	
}

.thumbnail{
	border-color:#808080;	
	border-width:1px;
	border-style:dotted;
	width: 50px;
	height: 50px;
}

.overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
.tup_class {
	font-family: Verdana, Geneva, sans-serif;
	color: #fe6801;
	font-size: 14px;
	font-weight: bold;
}
.tdown_class {
	font-family: Verdana, Geneva, sans-serif;
	color: #808080;
	font-size: 14px;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}


