?<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www7.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>
<table border="0">
<tr>
  <td><a href="$context"><img src="$logo" width="350" height="101" border="0" /></a></td></tr>
<tr>
<td>
<pre><font face="Arial, Helvetica, sans-serif">
<img src="$profile" />
$name $surname seni kimegitsem?com sisteminde tavsiyelerine güvendigi kisilerden biri 
olarak seçti ve arkadas olarak eklemek istiyor. 

<a href="$context"><img src="$connect" border="0" /></a>

kimegitsem, çagimizda en degerli ve az bulunur unsur olan güvenilebilecek hizmetveren 
arayisinda en güvenilir bilgi kaynagi olan arkadaslarin tavsiyelerini temel alan konusunda 
dünyada ilk ve tek sosyal medya merkezli yenilikçi internet yazilimidir.

Doktordan, avukata, mali müsavirden, ev dekorasyon firmasina hizmet sektöründe akliniza 
gelebilecek hemen her konuda arkadaslarinizdan tavsiye isteyebileceginiz, deneyimlerinizle 
ilgili begendiginiz hizmetverenler için tavsiye yazabileceginiz ve çevrenizde yerel 
hizmetverenlerle ilgili kim kimi tavsiye etmis takip edebileceginiz essiz bir deneyim sunan 
kimegitsem'i ücretsiz kullanmak için hemen tikla! </font>
</pre>
</td>
</tr>
<tr>
<td><pre><font face="Arial, Helvetica, sans-serif"><font color="#0033CC">Sosyal</font>"lesen,"<font color="#0033CC">begen</font>"ilen,
hakettigi ilgiyi gören <font color="#fe6801">yerel hizmetverenler</font>…
Günlük ihtiyaçlarinda,  <font color="#fe6801">güvenilir</font> hizmetveren arayisinda  <font color="#fe6801">arkadas aginin</font> destegini yaninda
hisseden mutlu tüketiciler…
</font>
</pre>
</td>
</tr>
</table>
</body>
</html>