<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.FF {
	font-family: Arial, Helvetica, sans-serif;
}
.addPoi {	

	padding:9px 10px;
	border:1px solid #016799; -webkit-border-radius: 5px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; font-size:16px; text-align: center; text-decoration: none; color: #FFFFFF; background-color: #016799;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1D0F6B), color-stop(100%, #1D0F6B));
 	background-image: -webkit-linear-gradient(top, #016799, #016799);
 	background-image: -moz-linear-gradient(top, #016799, #016799);
 	background-image: -ms-linear-gradient(top, #016799, #016799);
 	background-image: -o-linear-gradient(top, #016799, #016799);
 	background-image: linear-gradient(top, #016799, #016799);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#016799, endColorstr=#016799);
 	vertical-align: middle;
	position:relative;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table border="0" style="width:654px; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
  <tr>
    <td><img src="$logo" width="293" height="75" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td valign="top"><img src="$profile"/></td>
        <td><p><strong>$name $surname</strong>,  güvendiği bir arkadaşı olarak kimegitsem?com’da sizden $category tavsiyesi istiyor.</p>
          <p>Tavsiye  isteğinin detayı;</p>
          <p>$category / $place</p>
          <p>Açıklama;</p>
          <p>$description</p>
          <p><strong>$name $surname</strong>’ın tavsiye isteğini yanıtlayın, bir tavsiye yazın.</p>
          <p>kimegitsem?com’da  tavsiye istemek ve tavsiye yazmak çok kolay! Siz de tamamen ücretsiz  kimegitsem?com’a üye olun, sosyal medyadaki arkadaş çevrenizin gücünü keşfedin.</p>
          <p><a href="web1.kimegitsem.com/talk/list" class="addPoi">Hemen tavsiye yazın</a></p></td>
          
      </tr>
    </table></td>
  </tr>
  <tr><td>
  	<table border="0" cellpadding="0" cellspacing="0" background="$footer" style="width:654px; height:75px; font-size: 11px; color: #FFF;"> 
    <tr><td><p class="FF">kimegitsem?com,  en güvenilir referans kaynağı olan arkadaş tavsiyelerini &lsquo;sosyal&rsquo;leştiren  internet hizmetidir. Yeme  içmeden, kişisel bakıma, doktordan, eve dair her şeye yerel çevrenizde  güvenebileceğiniz hizmet verenleri kimegitsem?com&rsquo;da sosyal ağlardan  yararlanarak arkadaşlarınızın geçmiş tavsiyelerinden yola çıkarak bulun.  Cevabını alamadığınız soruları tüm arkadaş çevrenize anında danışın, arkadaş  tavsiyelerini hiç olmadığı kadar hızlı toplayın</p>
</td><td style="width:100px">&nbsp;</td></tr></table>
     </td></tr>
</table>
</body>
</html>
