<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.FF {
	font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table border="0" style="width:654px; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
  <tr>
    <td><img src="$logo" width="293" height="75" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td valign="top">&nbsp;</td>
        <td><p><strong>$name $surname</strong>,  güvendiği bir arkadaşı olarak kimegitsem?com’da size <a href="$url">$poi</a></p>
          <p>tavsiye ediyor.</p>
<p>Açıklama;</p>
          <p>$description</p>
          <p><strong>$name $surname</strong>’e  yardım edin, bir tavsiye yazın.</p>
          <p>kimegitsem?com’da  tavsiye istemek ve tavsiye yazmak çok kolay! Siz de tamamen ücretsiz  kimegitsem?com’a üye olun, sosyal medyadaki arkadaş çevrenizin gücünü keşfedin.</p></td>
      </tr>
    </table></td>
  </tr>
  <tr><td>
  	<table border="0" cellpadding="0" cellspacing="0" background="$footer" style="width:654px; height:75px; font-size: 11px; color: #FFF;"> 
    <tr><td><p class="FF">kimegitsem?com,  en güvenilir referans kaynağı olan arkadaş tavsiyelerini &lsquo;sosyal&rsquo;leştiren  internet hizmetidir. Yeme  içmeden, kişisel bakıma, doktordan, eve dair her şeye yerel çevrenizde  güvenebileceğiniz hizmet verenleri kimegitsem?com&rsquo;da sosyal ağlardan  yararlanarak arkadaşlarınızın geçmiş tavsiyelerinden yola çıkarak bulun.  Cevabını alamadığınız soruları tüm arkadaş çevrenize anında danışın, arkadaş  tavsiyelerini hiç olmadığı kadar hızlı toplayın</p>
</td><td style="width:100px">&nbsp;</td></tr></table>
     </td></tr>
</table>
</body>
</html>
